h1{
  text-align: center;
  color: red;
}

button{
  width: 100%;
}

form{
  width: 100%;
}

.inprange{
  width: 80%;
}

.inpnum{
  width: 20%;
}

.separador{
  width: 10%;
  height: 100%;
  margin: 0;
  display: inline-block;
}

.selector{
  position:relative;
  top: 30px;
  width: 45%;
  height: 100%;
  float: left;
  display: inline-block;
}

.box{
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.redbox{
  background-color: #FF0000;
  border: 5px solid #FF7000;
}

.greenbox{
  background-color: #00FF00;
  border: 5px solid #00FF70;
}

.bluebox{
  background-color: #0000FF;
  border: 5px solid #7000FF;
}

.wrapper{
  height: 220px;
}

#colorbox{
  width:45%;
  height:100%;
  float: right;
  display:inline-block;
}

#sizebox{
  height:30px;
  background-color: rgb(255,50,50);
}
